.bdl-price {
	&__old {
		display: inline-block;
		font-size: 0.85rem;
		margin: 0 5px;
		text-decoration: line-through;

		@include media-breakpoint-up(sm) {
			font-size: 1rem;
		}
	}

	&__current {
		display: inline-block;
		font-size: 0.85rem;
		font-weight: var(--bdl-product-weight-bold);
		margin: 0 5px;

		@include media-breakpoint-up(sm) {
			font-size: 1rem;
		}

		&_has-old {
			color: var(--bdl-product-deal-price-color);
		}
	}

	&__from {
		color: var(--bdl-product-muted-color);
		display: inline-block;
		font-size: 0.8rem;
		margin: 0 5px;
	}
}