:root {
	--bdl-product-border-color: #{$product-border-color};
	--bdl-product-text-color: #{$product-text-color};
	--bdl-product-deal-price-color: #{$product-deal-price-color};
	--bdl-product-muted-color: #{$product-muted-color};
	--bdl-product-weight-bold: #{$product-weight-bold};
	--bdl-product-gallery-active-color: #{$product-gallery-active-color};
}