.bdl-variant-picker {
	&__attr {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 0 0.75rem;
		gap: 20px;

		@include media-breakpoint-up(sm) {
			flex-wrap: nowrap;
		}
	}

	&__title {
		white-space: nowrap;
	}

	&__cases {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}

	&__case-item {}

	&__case-label {
		display: inline-block;
		line-height: 1.5;
		color: #6c757d;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		user-select: none;
		background-color: transparent;
		border: 1px solid #6c757d;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		border-radius: 0.25rem;
		transition: 0.15s ease-in-out;

		&_out-of-stock {
			cursor: not-allowed;
		}

		&_disabled {
			opacity: .65;
		}

		&:hover:not(.bdl-variant-picker__case-label_disabled) {
			color: #fff;
			background-color: #6c757d;
			border-color: #6c757d;
		}
	}

	&__btn-check {
		position: absolute;
		clip: rect(0,0,0,0);
		pointer-events: none;

		&:active + .bdl-variant-picker__case-label:not(.bdl-variant-picker__case-label_disabled),
		&:checked + .bdl-variant-picker__case-label:not(.bdl-variant-picker__case-label_disabled) {
			color: #fff;
			background-color: #6c757d;
			border-color: #6c757d;
		}
	}
}